.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-right: 1px solid lightgrey;
}

.sidebarHeaderRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
.chatContainer {
  flex: 1;
  background-color: white;
  overflow: hidden;
}
